<launch>
        <node
                pkg="gazebo_ros"
                type="gazebo"
                name="gazebo"
                args="world.sdf --verbose"
		output="screen">
                <env name="GAZEBO_RESOURCE_PATH" value="GAZEBO_RESOURCE_PATH=$GAZEBO_RESOURCE_PATH:/home/bob/gazebo_odom_plugin"/>
		<env name="GAZEBO_PLUGIN_PATH" value="/home/bob/gazebo_odom_plugin/robot/plugins/build"/>
        </node>

</launch>
